@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
  --background: #abb5ff;
  --foreground: #27356e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #abb5ff;
    --foreground: #27356e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Syne", sans-serif;
}
